@page
@model Activities.Create

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"] Activity</h2>

@* <h4>Activity</h4> *@
<hr />
@* <div class="card"> *@
@*     <p>@Model.Data.Activities.First().Name.ToString()</p> *@
@* </div> *@
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="Data.Name"></label>
                <input class="form-control" asp-for="Data.Name" type="text">
                <span class="text-danger" asp-validation-for="Data.Name"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Data.LocalTimeStamp"></label>
                <input class="form-control" asp-for="Data.LocalTimeStamp" type="text">
                <span class="text-danger" asp-validation-for="Data.LocalTimeStamp"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Data.SessionCount"></label>
                <input class="form-control" asp-for="Data.SessionCount" type="text">
                <span class="text-danger" asp-validation-for="Data.SessionCount"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}