@page
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RunnerTools.Application.Activities.Queries.GetActivities
@using RunnerTools.Infrastructure.Identity
@model Activities.Index

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Activities";
}

<h2>Activities</h2>

@if (SignInManager.IsSignedIn(User))
{
    <p><a asp-page="Create">Create New</a></p>
}

<table class="table">
    <thead>
        <tr>
            <th>Number
            </th>
            <th>Name
            </th>
            <th>Time
            </th>
            <th>Number of sessions
            </th>
                    
            @if (SignInManager.IsSignedIn(User))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (ActivityDto item in Model.Data.Activities)
        {
            <tr>
                <td>@item.Id
                </td>
                <td>@item.Name
                </td>
                <td>@item.LocalTimeStamp
                </td>
                <td>@item.SessionCount
                </td>
                    
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <a asp-page="Details" asp-route-id="item.Id">Details</a> |
                        <a asp-page="Delete" asp-route-id="item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
