@page
@model Basic.index

@{
    ViewData["Title"] = "Basic calculations";
}

<h2 class="mb-4">@ViewData["Title"]</h2>


<div class="row my-3">
    <form method="post" class="col-5 mb-3 mb-sm-0">
        
        <div class="mb-3 row">

            <div class="col-6">
                <label class="form-label" asp-for="Data.Distance"></label>
                <div class="row">
                    <div class="col-6">
                        <input type="number" step="0.001" class="form-control"
                               asp-for="Data.Distance" asp-format="{0:F}">
                    </div>
                    <label class="col-auto col-form-label ps-0">km</label>
                </div>
            </div>

            <div class="col-6">
                <label class="form-label" asp-for="Data.Duration"></label>
                <div class="row">
                    <div class="col-auto">
                        <input type="time" step="1" class="form-control"
                               asp-for="Data.Duration">
                    </div>
                </div>
            </div>

        </div>

        <div class="mb-3 row">

            <div class="col-6">
                <label class="form-label" asp-for="Data.Cadence"></label>
                <div class="row">
                    <div class="col-auto">
                        <input type="time" step="1" class="form-control"
                               asp-for="Data.Cadence">
                    </div>
                    <label class="col-auto col-form-label ps-0">/km</label>
                </div>
            </div>

            <div class="col-6">
                <label class="form-label" asp-for="Data.Speed"></label>
                <div class="row">
                    <div class="col-6">
                        <input type="number" step="0.001" class="form-control"
                               asp-for="Data.Speed" asp-format="{0:F}">
                    </div>
                    <label class="col-auto col-form-label ps-0">km/h</label>
                </div>
            </div>

        </div>

        <input type="submit" value="Calculate" class="btn btn-primary"/>

    </form>

</div>